<%
var data = locals;
%>

<!doctype html>
<html>
<head>
	<% include components/loadjs %>

<title>高考报考指南 - 高考志愿填报 - 完美志愿</title>
<meta name="keyword" content="高考报考指南,高考志愿填报,完美志愿" /> 
<meta name="description" content="完美志愿提供专业的高考志愿填报指南、填报技巧，为每位学子指引人生方向，想实现完美高考志愿，快来完美志愿。" />
<link rel="stylesheet" href="/css/index.css"/>
<script src='http://zhushou.360.cn/script/plugin_tiper.js'></script>

	<style>
		[ms-controller]{display: none!important;}
	</style>
	<style>
	#banner_img li {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 400px;
	    background-position: center;
	    background-size: cover;
	    display: none;
	}

	#banner_img li,#banner_img li a{
		display: block;
		height:400px;
	}

	<% for(var i=0; i < data.bannerInfo.length; i++) {%>
		#banner_img li.item<%= i+1%> {
			display: <%=i==0?'block':'none'%>;
			background-image: url(<%= data.bannerInfo[i].h_pic||data.bannerInfo[i].pic%>);
		}
	<% } %>

	/*首页侧边栏隐藏*/
	.fixed-box{
		display: none;
	}
	</style>
</head>

<body style="background-color:#fff;">
	<%-include components/head -%>

	<div class="nav-search">
		<div class="nav-height">
			<div class="newContent">
				<div class="clear">
					<div class="nav-search-logo">
					<a href="/">
						<img width="167" height="39" src="<%=data.vars.oem.name=='gkhr'?'/images/grlogo.png':'/images/v4/wmzy-logo.png'%>">
					</a>
					</div>

					<div class="nav-search-search">
						<div id="searchArea" class="clear searchBar">
							<div class="nav-search-input">
								<input type="text" placeholder="搜索学校、专业"  class="js-searchBox" />
								<div class="nav-search-preset">
								<!-- <span>计算机</span><span>计算机</span><span>计算机</span> -->
								</div>
								<div class="dropdown-box js-dropdownBox">       
								<!-- <div class="type_item">学校</div>
								<ul>
									<li class="hover">
										<a href="/api/school/52ac2e99747aec013fcf4e6f.html?diploma=7">清华大学</a>
									</li>
								</ul>
								<div class="type_item">专业</div>
								<ul>           
									<li><a href="/api/major/52aedf5b747aec1cfc841697.html?diploma=7">轻化工程</a></li>       
								</ul> -->
								</div>
							</div>
							<div class="nav-search-btn btn-hover js-searchBtn">
								<a href="javascrit:;">搜索</a>
							</div>
						</div>	
					</div>
					<div class="nav-search-friend">
						<img height="48" src="/images/v4/logo/xdf-logo.png" alt="新东方" class="" />
						<img height="48" src="/images/v4/logo/jy-logo.png" alt="中国教育在线" class="hide" />
						<img height="48" src="/images/v4/logo/xl-logo.png" alt="新浪教育" class="hide" />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="banner" id="banner">
		<ul id="banner_img">
			<% 
			for(var i = 0; i < data.bannerInfo.length; i++) { %>
				<%if(data.vars.oem.name== 'gkhr'&&data.bannerInfo[i].title=="客户端下载"){%>
					<li class="item<%= i+1%>" style="background-image:url(/images/new_gaokao/gr_home_bg.png);">
						<div class="content newContent">
							<a href="javascript:;"> </a>
						</div>
					</li>
            	<%}else{%>
					<li class="item<%=i+1%>">
						<div class="content newContent">
							<a target="_blank" href="<%= data.bannerInfo[i].web_url||'javascript:;' %>" style="display: block;height:400px;"></a>
						</div>
					</li>
				<%}%>
			<%}%>

			<%if(data.bannerInfo.length==0){%>
				<li class="" style="display: block;background-image:url(/images/banners/download.png);">
					<div class="content newContent">
						<a href="javascript:;"> </a>
					</div>
				</li>
			<%}%>
    	</ul>
    	<div id="banner_ctr" class="banner_ctr">
        	<% for(var i = 0; i < data.bannerInfo.length; i++) { %>
        		<a href="javascript:;" class="<%=i==0?'ctr_btn':''%>"></a>
        	<%}%>
    	</div>
    	<div class="content newContent hidden js_scoreHolder">
        	<%- include components/_scorePane.ejs %>
   		</div>
	</div>


	<div class="help-num">
		<p>完美志愿已成功帮助 <span class="js-userCount">488486</span> 位高考生考上心仪大学</p>
	</div>


	<div class="wmzy_wrap">

		<div class="content newContent">
			<%if(data.zixunInfo.length){%>
				<div class="g-advert">
					<ul class="clear">
						<%for(var i=0;i<=Math.min(1,data.zixunInfo.length-1);i++){%>
						<li>
							<a href="<%=data.zixunInfo[i].web_url%>" target="_blank">
							<img width="446" height="195" src="<%=data.zixunInfo[i].h_pic%>" alt="<%=data.zixunInfo[i].title%>">
							<div class="advert-layer">
								<div class="advert-txt">
									<p>
									<%
									var start = data.zixunInfo[i].start_time*1000;
									var now = Date.now();
									var baseCount = (Math.ceil((now-start)/(60*60*1000))+new Date().getHours())*60;

									var count = parseInt((baseCount+new Date().getMinutes())*3)-2;
									if(i==1){
										count = parseInt((baseCount+new Date().getMinutes())*1.5)-1;
									}
									%>
									已有<span><%=count%></span>人查看
									立即前往&gt;&gt;
									</p>
								</div>
							</div>
							</a>
						</li>
						<%}%>
						<li class="f-ml5">
						<div class="advert-list">
						<%for(var i=2;i<=Math.min(5,data.zixunInfo.length-1);i++){%>
							<p><span></span><a href="<%=data.zixunInfo[i].web_url%>" target="_blank"><%=data.zixunInfo[i].title%></a></p>
						<%}%>
						</div>
						<div><!-- <a href="javascript:;" target="_blank"> --><img src="/images/v4/advert/advert3.png" alt=""><!-- </a> --></div>
						</li>	
					</ul>
				</div>
			<%}%>
			<div class="g-title noline clear">
				<div class="title-txt">
					<p>实用工具</p>
				</div>
			</div>
			<div class="g-tab js-gaokaoTools">
				<ul class="clear list">
					<li class="blue active">选学校</li>
					<li class="green ">挑专业</li>
					<li class="org f-mr0">填志愿</li>
				</ul>
				<div class="details">
					<div class="details-list">
						<ul>
							<li>
								<a href="/api/school">
									<div class="clear">
										<div class="list-img"><span class="tab11"></span></div>
										<div class="list-txt">
											<h3>院校大全</h3>
											<p>2500+所学校详情一览</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/analyze_report">
									<div class="clear">
										<div class="list-img"><span class="tab12"><i></i></span></div>
										<div class="list-txt">
											<h3>成绩分析报告</h3>
											<p>查看同分考生去向</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/forecast">
									<div class="clear">
										<div class="list-img"><span class="tab13"><i></i></span></div>
										<div class="list-txt">
											<h3>录取概率预测</h3>
											<p>你能否上心仪的学校</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<div class="clear">
									<a href="/api/rank/schList">
										<div class="list-img"><span class="tab14"><i></i></span></div>
										<div class="list-txt">
											<h3>看学校就业</h3>
											<p>查看各校的真实就业数据</p>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="details-list hide ">
						<ul>
							<li>
								<a href="/api/school/major">
									<div class="clear">
										<div class="list-img"><span class="tab21"></span></div>
										<div class="list-txt">
											<h3>专业大全</h3>
											<p>50000+专业信息，紧跟招办</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/api/rank/majList">
									<div class="clear">
										<div class="list-img"><span class="tab22"><i></i></span></div>
										<div class="list-txt">
											<h3>看专业就业</h3>
											<p>专业详细就业数据</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="clear">
										<div class="list-img"><span class="tab23"><i></i></span></div>
										<div class="list-txt">
											<h3>按职业推荐</h3>
											<p>职业具体工作内容、对口专业</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/ceping/index.html">
									<div class="clear">
										<div class="list-img"><span class="tab24"><i></i></span></div>
										<div class="list-txt">
											<h3>性格测试</h3>
											<p>精准定位你的职业兴趣</p>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="details-list hide">
						<ul>
							<li>
								<a href="/zhiyuan/bespoke">
									<div class="clear">
										<div class="list-img"><span class="tab31"><i></i></span></div>
										<div class="list-txt">
											<h3>智能填志愿</h3>
											<p>多维度科学推荐冲、稳、保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/fill">
									<div class="clear">
										<div class="list-img"><span class="tab32"></span></div>
										<div class="list-txt">
											<h3>手动填志愿</h3>
											<p>模拟填报志愿表</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/api/score/scoreList">
									<div class="clear">
										<div class="list-img"><span class="tab33"></span></div>
										<div class="list-txt">
											<h3>批次线</h3>
											<p>各省往年录取批次线</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/tongfen">
									<div class="clear">
										<div class="list-img"><span class="tab34"><i></i></span></div>
										<div class="list-txt">
											<h3>同分考生去向</h3>
											<p>同分考生具体录取学校专业</p>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		

			<div class="layout-right clear">
				<div class="main">
					<div class="mainc">

						<div class="g-title clear">
							<div class="title-txt">
								<p>名校真题
									<%var filterGrade = ['高一','高二','高三'];%>
									<%for(var grade of filterGrade){%>
									<span style="margin-left:8px"><a  href="<%=utilFn.routerUrl('examBank',{grade:grade})%>"  target="_blank"><%=grade%></a></span>
									<%}%>
									<%var filterSubjects = ['语文','数学','英语','地理','物理','历史','化学'];%>
									<%for(var subject of filterSubjects){%>
									<span style="margin-left:8px"><a  href="<%=utilFn.routerUrl('examBank',{filter_subject:subject})%>"  target="_blank"><%=subject%></a></span>
									<%}%>
								</p>
							</div>
							<div class="f-more"><a href="/exam/exam_bank" target="_blank">更多&gt;&gt;</a></div>
						</div>
						<div class="test-paper clear">
							<div class="box">
								<ul class="clear">
									<%
									for(var i=0; i<2 && i<data.examBankInfo.length; i++){
										var examTitle = data.examBankInfo[i].title.slice(0,30);
										if(data.examBankInfo[i].title.length>30){
											examTitle+='...'
										}		
									%>
										<li>
											<a href="<%=utilFn.routerUrl('examDetail',{exam_id:data.examBankInfo[i].article_id})%>" target="_blank">
											<p class="box-title" style=""><%=examTitle%></p>
											<img style ="width:199px;height:120px;" src="<%=data.examBankInfo[0].h_pic||data.examBankInfo[i].pic%>" alt="<%= data.examBankInfo[i].title%>">
											<div class="box-txt">
												<span class="love"></span>
												<%=data.examBankInfo[i].collectCnt%>人已收藏
												<span class="time"><%=:data.examBankInfo[i].start_time*1000|date:'MM-dd'%></span>
											</div>
											</a>
										</li>
										<!-- <li>
											<img src="/images/v4/text-paper.jpg" alt="">
											<div class="box-txt">
											</div>
										</li> -->
									<%}%>
								</ul>
							</div>
							<div class="list">
								<ul>
									<%
									data.topExamInfo = data.topExamInfo.slice(0,5);
									for(var exam of data.topExamInfo){%>
										<li>
											<span class="circle"></span>
											<span class="list-txt">
												<a href="<%=utilFn.routerUrl('examDetail',{exam_id:exam._id})%>" target="_blank"><%=exam.exam_name%></a>
											</span>
											<span class="time">
												<%=:new Date(exam.upload_time*1000)|date:'MM-dd'%>
											</span>
										</li>
									<%}%>
				
								</ul>
							</div>
						</div>


						<%
						var articles = [];
						if(data.articles[5].articles.length){
							articles = data.articles[5].articles;
						%>
						<div class="g-title clear">
							<div class="title-txt">
								<p>高考头条</p>
							</div>
							<div class="f-more hide">更多&gt;&gt;</div>
						</div>
						<div class="information headlines">
							<div class="clear">
								<div class="toutiao-tips">
									<div class="tips-img">
										<a href="/article/article-<%=articles[0].article_id %>">
											<img width="416" height="250" src="<%=articles[0].background_image %>">
										</a>
									</div>
									<div class="tips-box">
										<div class="tips-tit">

											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
										<div class="tips-txt">
											<p><%=data.summary%><a href="/article/article-<%=articles[0].article_id %>">[查看全文]</a></p>
										</div>
									</div>
								</div>
								<div class="list">
									<ul class="clear">
									<%for(var i=1;i<=Math.min(4,articles.length-1);i++){%>
										<li class="clear <%=i%2?'f-mr0':0%>">
											<div class="list-img">
												<a href="/article/article-<%=articles[i].article_id %>">
													<img width="203" height="123" src="<%=articles[i].background_image %>" />
												</a>
											</div>
											<div class="list-txt">
												<p>
													<a href="/article/article-<%=articles[i].article_id %>">
														<%=articles[i].title %>
													</a>
												</p>
												<span class="time"><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
												<span class="look hide"><i></i>2136</span>
											</div>
										</li>
									<%}%>
									</ul>
								</div>
							</div>
						</div>
						<%}%>


						<%
						if(data.articles[3].articles.length){
							articles = data.articles[3].articles;
						%>
						<div class="g-title clear">
							<div class="title-txt">
								<p>备考提分</p>
							</div>
							<div class="f-more hide">更多&gt;&gt;</div>
						</div>
						<div class="information">
							<div class="clear">
								<div class="toutiao-tips">
									<div class="tips-img">
										<a href="/article/article-<%=articles[0].article_id %>">
											<img width="416" height="250" src="<%=articles[0].background_image %>">
										</a>
									</div>
									<div class="tips-box">
										<div class="tips-tit">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
										
									</div>
									
								</div>
								<div class="list">
									<ul class="clear">
										<%for(var i=1;i<=Math.min(4,articles.length-1);i++){%>
											<li class="clear">
												<div class="list-img">
													<a href="/article/article-<%=articles[i].article_id %>">
														<img width="130" height="78"  src="<%=articles[i].background_image %>" />
													</a>
												</div>
												<div class="list-txt">
													<p>
														<a href="/article/article-<%=articles[i].article_id %>">
															<%=articles[i].title %>
														</a>
													</p>
													<span class="time"><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
													<span class="look hide"><i></i>2136</span>
												</div>
											</li>
										<%}%>

										
							
									</ul>
								</div>
							</div>
						</div>
						<%}%>


						<%
						if(data.articles[1].articles.length){
							articles = data.articles[1].articles;
						%>
						<div class="g-title clear">
							<div class="title-txt">
								<p>填报技巧</p>
							</div>
							<div class="f-more hide">更多&gt;&gt;</div>
						</div>
						<div class="information">
							<div class="clear">
								<div class="toutiao-tips">
									<div class="tips-img">
										<a href="/article/article-<%=articles[0].article_id %>">
											<img width="416" height="250" src="<%=articles[0].background_image %>">
										</a>
									</div>
									<div class="tips-box">
										<div class="tips-tit">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
										
									</div>
								</div>

								<div class="list">
									<ul>
										<%for(var i=1;i<=Math.min(3,articles.length-1);i++){%>
											<li class="clear">
												<div class="list-img">
													<a href="/article/article-<%=articles[i].article_id %>">
														<img width="130" height="78" src="<%=articles[i].background_image %>" />
													</a>
												</div>
												<div class="list-txt">
													<p>
														<a href="/article/article-<%=articles[i].article_id %>">
															<%=articles[i].title %>
														</a>
													</p>
													<span class="time"><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
													<span class="look hide"><i></i>2136</span>
												</div>
											</li>
										<%}%>
										
										<li class="clear">
											<div class="list-btn">
												<a href="/zhiyuan/bespoke"><img src="/images/v4/tips-btn1.jpg" alt=""></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<%}%>


						<%
						if(data.articles[4].articles.length){
							articles = data.articles[4].articles;
						%>
						<div class="g-title clear">
							<div class="title-txt">
								<p>数据榜单
									<span>
										<a href="/api/rank/schList"><i class="icon-fire"></i>大学排行榜</a>
										<a href="/api/rank/majList"><i class="icon-fire"></i>专业排行榜</a>
									</span>
								</p>
							</div>
							<div class="f-more hide">更多&gt;&gt;</div>
						</div>
						<div class="m-dataList">
							<ul class="clear">
							<%for(var i=0;i<=Math.min(2,articles.length-1);i++){%>
								<li class="<%=i==2?'f-mr0':''%>">
									<div class="dataList-img">
										<a href="/article/article-<%=articles[i].article_id %>">
											<img width="277" height="166" src="<%=articles[i].background_image %>" />
										</a>
									</div>
									<div class="dataList-txt">
										<p>
											<a href="/article/article-<%=articles[i].article_id %>">
												<%=articles[i].title %>
											</a>
										</p>
										<span class="time"><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
										<span class="look hide"><i></i>2136</span>
									</div>
								</li>
								<%}%>
							</ul>
						</div>
						<%}%>

						
						<div class="g-tips">
							<ul>
							<%
							if(data.articles[6].articles.length){
								articles = data.articles[6].articles;
							%>
								<li>
									<div class="g-title clear">
										<div class="title-txt">
											<p>院校资讯</p>
										</div>
										<div class="f-more hide">更多&gt;&gt;</div>
									</div>
									<div class="tips-tit clear">
										<div class="tips-tit-img">
											<a href="/article/article-<%=articles[0].article_id %>">
												<img width="130" height="78" src="<%=articles[0].background_image %>">
											</a>
										</div>
										<div class="tips-tit-txt">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
									</div>
									<div class="tips-list">
									<%for(var i=1;i<=Math.min(3,articles.length-1);i++){%>
										<div class="tips-list-txt">
											<p>
											<a href="/article/article-<%=articles[i].article_id %>"><%=articles[i].title %></a>
											<span><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
											</p>
										</div>
									<%}%>
									</div>
									<div class="tips-btn"><a href="/api/rank/schList"><img src="/images/v4/tips-btn2.jpg" alt=""></a></div>
								</li>
								<%}%>

							<%
							if(data.articles[7].articles.length){
								articles = data.articles[7].articles;
							%>
								<li class="f-mr0">
									<div class="g-title clear">
										<div class="title-txt">
											<p>专业介绍</p>
										</div>
										<div class="f-more hide">更多&gt;&gt;</div>
									</div>
									<div class="tips-tit clear">
										<div class="tips-tit-img">
											<a href="/article/article-<%=articles[0].article_id %>">
												<img width="130" height="78" src="<%=articles[0].background_image %>">
											</a>
										</div>
										<div class="tips-tit-txt">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
									</div>
									<div class="tips-list">
										<%for(var i=1;i<=Math.min(3,articles.length-1);i++){%>
										<div class="tips-list-txt">
											<p>
												<a href="/article/article-<%=articles[i].article_id %>"><%=articles[i].title %></a>
											<span><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
											</p>
										</div>
										<%}%>
									</div>
									<div class="tips-btn">
										<a href="/ceping/index.html" target="_brank">
											<img src="/images/v4/tips-btn3.jpg" alt="">
										</a>
									</div>
								</li>
								<%}%>

							<%
							if(data.articles[2].articles.length){
								articles = data.articles[2].articles;
							%>
								<li>
									<div class="g-title clear">
										<div class="title-txt">
											<p>政策招生</p>
										</div>
										<div class="f-more hide">更多&gt;&gt;</div>
									</div>
									<div class="tips-tit clear">
										<div class="tips-tit-img">
											<a href="/article/article-<%=articles[0].article_id %>">
												<img width="130" height="78" src="<%=articles[0].background_image %>">
											</a>
										</div>
										<div class="tips-tit-txt">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
									</div>
									<div class="tips-list">
										<%for(var i=1;i<=Math.min(3,articles.length-1);i++){%>
										<div class="tips-list-txt">
											<p>
												<a href="/article/article-<%=articles[i].article_id %>"><%=articles[i].title %></a>
											<span><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
											</p>
										</div>
										<%}%>
									</div>
								</li>
								<%}%>

							<%
							if(data.articles[8].articles.length){
								articles = data.articles[8].articles;
							%>
								<li class="f-mr0">
									<div class="g-title clear">
										<div class="title-txt">
											<p>健康指南</p>
										</div>
										<div class="f-more hide">更多&gt;&gt;</div>
									</div>
									<div class="tips-tit clear">
										<div class="tips-tit-img">
											<a href="/article/article-<%=articles[0].article_id %>">
												<img width="130" height="78" src="<%=articles[0].background_image %>">
											</a>
										</div>
										<div class="tips-tit-txt">
											<p>
												<a href="/article/article-<%=articles[0].article_id %>"><%=articles[0].title %></a>
											</p>
											<span><%=:articles[0].datetime*1000|date:'MM-dd' %></span>
											<span class="look hide"><i></i>1236</span>
										</div>
									</div>
									<div class="tips-list">
										<%for(var i=1;i<=Math.min(3,articles.length-1);i++){%>
										<div class="tips-list-txt">
											<p>
												<a href="/article/article-<%=articles[i].article_id %>"><%=articles[i].title %></a>
											<span><%=:articles[i].datetime*1000|date:'MM-dd' %></span>
											</p>
										</div>
										<%}%>
									</div>
								</li>
								<%}%>
							</ul>
						</div>
								
					</div>
				</div>


				<div class="side">

					<div class="m-expert">
						<div class="side-tt">专家点评</div>
						<div class="expert-name">
							<ul>
								<li>
									<div class="expert-img"><img src="/images/v4/expert/yang.png" alt=""></div>
									<h3>杨老师</h3>
									<p>香港科技大学教授</p>
									<p>美国人工智能协会（AAAI）院士</p>
									<div class="expert-txt">
										<span class="text-up"></span>
										<span class="text-down"></span>
										<p>每个人的个性、喜好和理想都不同，有了大数据，就可以根据不同人的需求，来提供不同的决策。即为你量身订造你的未来。</p>
										<a href="/buy/product#comments">查看更多专家点评&gt;&gt;</a>
									</div>
								</li>
								<li>
									<div class="expert-img"><img src="/images/v4/expert/liu.png" alt=""></div>
									<h3>刘老师</h3>
									<p>清华大学教授</p>
									<p>中国高考录取系统研发负责人</p>
									<div class="expert-txt">
										<span class="text-up"></span>
										<span class="text-down"></span>
										<p>完美志愿的推荐，不光考虑考生上得了学，而且同时考虑了考生今后更好地参与工作、去参与社会和职场的竞争。这是它最大的特色。</p>
										<a href="/buy/product#comments">查看更多专家点评&gt;&gt;</a>
									</div>
								</li>
								<li>
									<div class="expert-img"><img src="/images/v4/expert/tang.png" alt=""></div>
									<h3>唐老师</h3>
									<p>清华大学副教授</p>
									<p>国家千人计划引进人才</p>
									<div class="expert-txt">
										<span class="text-up"></span>
										<span class="text-down"></span>
										<p>完美志愿起点高、数据量大，有很多宝贵的数据来支持推荐和决策。更重要的是这个产品是自我提升的，可以通过更多的数据来提升自己的准确性。</p>
										<a href="/buy/product#comments">查看更多专家点评&gt;&gt;</a>
									</div>
								</li>
								<li>
									<div class="expert-img"><img src="/images/v4/expert/PeiyuChen.png" alt=""></div>
									<h3>Peiyu Chen</h3>
									<p>美国亚利桑那州立大学副教授</p>
									<p>世界知名信息科学家</p>
									<div class="expert-txt">
										<span class="text-up"></span>
										<span class="text-down"></span>
										<p>相比其它的志愿填报产品，完美志愿数据的权威性、准确性和更先进的计算方式，优势是得天独厚的。</p>
										<a href="/buy/product#comments">查看更多专家点评&gt;&gt;</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
			
					<div class="m-video">
						<div class="side-tt">案例解决<a href="/buy/product#uservideo">更多</a></div>
						<div class="video_box" data-src="http://static.video.qq.com/TPout.swf?vid=s01988gq885&auto=1">
						<img src="/images/video-img/user1-bg.jpg" alt="" width="282px" height="187px">
							<div class="ops_box"></div>
							<i class="play_btn"></i>
							<div class="vops_btm">
								<div class="txt_btm">
								</div>
								<p class="p1">“完美志愿帮助我这个不理想的分数，实现了期望的志愿”</p>
							</div>
						</div>
						<p class="video_txt">杨同学：2015年广东考生，被广东金融学院汉语言学专业录取</p>
					</div>

					<div class="m-video">
						<div class="side-tt">了解我们</div>
						<div class="m-video-box">
							<ul>
								<li>
									<div class="video_box" data-src="http://static.video.qq.com/TPout.swf?vid=v0309dc88xn&auto=1">
										<img src="/images/video-img/know1-bg.jpg" alt="" width="282px" height="187px">
										<div class="ops_box"></div>
										<i class="play_btn"></i>
										<div class="vops_btm">
											<div class="txt_btm">
											</div>
											<p class="p1">完美志愿牵新东方，签署战略合作框架协议</p>
										</div>
									</div>
								</li>
								<li class="hide">
									<div class="video_box" data-src="http://static.video.qq.com/TPout.swf?vid=x0308tsafno&auto=1">
										<img src="/images/video-img/know2-bg.jpg" alt="" width="282px" height="187px">
										<div class="ops_box"></div>
										<i class="play_btn"></i>
										<div class="vops_btm">
											<div class="txt_btm">
											</div>
											<p class="p1">完美志愿做客郑州教育电视台</p>
										</div>
									</div>
								</li>
								<li class="hide">
									<div class="video_box" data-src="http://static.video.qq.com/TPout.swf?vid=i03074ykx43&auto=1">
										<img src="/images/video-img/know3-bg.jpg" alt="" width="282px" height="187px">
										<div class="ops_box"></div>
										<i class="play_btn"></i>
										<div class="vops_btm">
											<div class="txt_btm">
											</div>
											<p class="p1">众多名校教授推荐完美志愿</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="video-nav">
							<span class="long"></span><span></span><span ></span>
						</div>
					</div>

					<div class="m-problem">
						<div class="side-tt">常见问题</div>
						<div class="problem-list">
							<ul>
								<li><a href="/faq.html#q_5_1"><span class="org">1</span>完美志愿的就业数据来自哪里？</a></li>
								<li><a href="/faq.html#q_2_4"><span class="org">2</span>完美志愿推荐学校和专业的依据是什么？</a></li>
								<li><a href="/faq.html#q_5_3"><span class="org">3</span>完美志愿的录取概率是怎么计算出来的？</a></li>
								<li><a href="/faq.html#q_2_7"><span>4</span>不同的分数政策，比如政策加分、自主招生等，是否会影响录取概率的准确性？</a></li>
								<li><a href="/faq.html#q_5_4"><span>5</span>完美志愿推荐志愿的原理是什么？准确性有多高？</a></li>
							</ul>
						</div>
						<a href="/faq.html">查看全部问题及答复&gt;&gt;</a>
					</div>

				</div>

			</div>
		</div>
	</div>



	<%if(data.vars.oem.name!= 'gkhr'){%>
		<%- include components/side_menu %>
	<%}%>

	<%- include components/foot %>
	<%- include components/tongji_gaokaozhiyuan %>


	<div id="tipfortool" class="pop win-fixed win-msgbox" style="z-index: 10002; display:none;">
		<div class="bg">
			<div class="hd">
				<h3 id="pin_title">提示</h3>
			</div>
			<div class="bd" id="dw_ct">
				<div class="tips-c">
					<div id="msgdlg_icon" class="icon icon-alert"></div>
					<div id="msgdlg_ct" class="msgContent">
						该功能正在开发建设中，请<a href="/activity/pingdan/download.html" style="color:#4499ff;">下载APP</a>体验
					</div>
				</div>
			</div>
			<div class="fd" id="pin_dlg_bnts">
				<a id="pin_bnt_ok" href="#"><span>确&nbsp;定</span></a>
				<a id="pin_bnt_cancel" href="#" class="hidden">
					<span>取&nbsp;消</span>
				</a>
				<a id="pin_bnt_yes" href="#" class="hidden"><span>&nbsp;是&nbsp;</span></a>
				<a id="pin_bnt_no" href="#" class="hidden"><span>&nbsp;否&nbsp;</span></a>
				<a id="pin_bnt_close" href="#" class="hidden"><span>关&nbsp;闭</span></a>
			</div>
		</div>
		<a href="#" class="close" id="pin_cls" title="关闭"></a>
		<div class="gl"></div>
		<div class="gr"></div>
	</div>

	<script>
		require(["page/index"],function(ept){
			ept.init();
		});
	</script>

</body>
</html>